* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 100%;
  padding: 50px 100px;
}

img {
  max-width: 100%;
}

/* universal */

h1 {
  color: #3d92d3;
  font-weight: bolder;
  font-size: 30px;
}

h2 {
  color: #3d92d3;
  font-weight: bolder;
  font-size: 26px;
}

h3 {
  color: #3d92d3;
  font-weight: bolder;
  font-size: 22px;
}

h4 {
  color: #3d92d3;
  font-weight: bolder;
  font-size: 20px;
}

p {
  color: #616161;
  font-weight: normal;
  font-size: 16px;
}

/* end of universal */

/* home page */

.hero-p {
  padding: 20px;
}

.hero {
  background-image: url("./images/background-blue.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  padding: 50px 100px;
  min-height: 100vh;
}

.welcome-section {
  margin-top: 100px;
  padding: 0px 50px;
}

.cta-section {
  background-image: url("./images/cta-background.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  padding: 50px 100px;
}

.cta-section h2,
.cta-section p {
  color: aliceblue;
}

.digital-advertising {
  padding: 100px 100px;
}

/* section end */

/* About page */

.about-hero {
  background-color: #ecf7ff;
}

.about-cta-section {
  background-image: url("./images/shape-background.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  padding: 50px 100px;
  
}

.transbox {
  margin: 30px;
  background-color: #ffffff;
  opacity: 0.6;
  padding: 50px 50px;
  border-color: #3d92d3;
  border-width: 2px;
}

.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
.design-bulb {
  padding: 100px 100px 0px 100px;
  width:max-content;
}

/* end about page */

/* cv page */

.li {
text-align: left;
justify-content: left;
}

.two-col-titles {
  padding: 10px;
  background-color: #210d3e;
  margin: 10px;
}

.two-col-titles-h2 {
  color: #ffffff;
}

.skills.container {
  width: 100%;
  max-width: 100%;
  padding: 10px 100px;
}

/* end cv page */
.topnav {
  overflow: hidden;
  background-color: #39a3f2;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
  width: auto;
}

.form {
  font-size: 14pt;
  font-family: Georgia;
  text-align: center;
  line-height: 2em;
  color: #777777;
  padding: 20px;
  margin: 10px;
}

/* portfolio page */

.portfolioBkgrnd {
  background-color: #61a5e4;
}

.portfolioTitle {
color: #ffffff;
}

.portfolioText {
  padding: 20px, 50px;
  font-weight: bold;
  font-size: large;
  color:#ffffff;
  }

.portfolioLink {
  padding: 50px;
  background-color: #61a5e4;

}

/* footer */

.footer {
  color: #fdfdfd;
  padding: 30px;
  text-align: center;
  background-color: #210d3e;
}

.why-choose-text {
padding: 50px 0px 0px 0px;
}

.footer-section p {
  color: aliceblue;
}
.copyright {
  text-align: center;
}

/* end footer section */

/*Admin Login Page*/

#login-name {
  text-align: center;
  padding: 5px 25px 5px 25px;
  font-size: 20px;
  margin: 20px;
}

#name {
  display: block;
  margin: 10px auto;
  border: 1px solid #cccccc;
  background: #a7d2f5;
  padding: 10px 30px 10px 30px;
  border-radius: 25px;
}

#password {
  display: block;
  margin: 10px auto;
  border: 1px solid #cccccc;
  background: #a7d2f5;
  padding: 10px 30px 10px 30px;
  border-radius: 25px;
}

button {
  display: block;
  margin: 20px auto;
  border: 1px solid #cccccc;
  background: #39a3f2;
  color: #edebe7;
  font-size: 18px;
  line-height: 1.5em;
  padding: 10px 30px 10px 30px;
  font-weight: bolder;
  border-radius: 25px;
  transition: all 200ms ease;
  box-shadow: #777777 0px 8px 16px 0px;
  cursor: pointer;
}

/*contact page*/

.form {
  background-color: alicebluegi;
}
#name {
  display: block;
  margin: 10px auto;
  border: 1px solid #cccccc;
  background: #a7d2f5;
  padding: 10px 30px 10px 30px;
  border-radius: 25px;
}

#email {
  display: block;
  margin: 10px auto;
  border: 1px solid #cccccc;
  background: #a7d2f5;
  padding: 10px 30px 10px 30px;
  border-radius: 25px;
}

#phoneNumber {
  display: block;
  margin: 10px auto;
  border: 1px solid #cccccc;
  background: #a7d2f5;
  padding: 10px 30px 10px 30px;
  border-radius: 25px;
}

#content {
  display: block;
  margin: 10px auto;
  border: 1px solid #cccccc;
  background: #a7d2f5;
  padding: 10px 30px 10px 30px;
  border-radius: 25px;
}

.button-contact {
  display: block;
  margin: 20px auto;
  border: 1px solid #cccccc;
  background: #39a3f2;
  color: #edebe7;
  font-size: 18px;
  line-height: 1.5em;
  padding: 10px 30px 10px 30px;
  font-weight: bolder;
  border-radius: 25px;
  box-shadow: #777777 0px 8px 16px 0px;
}

/*Admin Interface*/

table {
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}

th,
td {
  border-bottom: 1px solid #98b4cb;
  border-collapse: collapse;
  padding: 20px 20px;
  font-weight: bold;
  text-align: center;
  color: #39a3f2;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
}

tr:hover {
  background-color: #aaa9a9;
  color: #edebe7;
}

/*admin interface style*/
.top-heading {
  font-size: 18px;
  color: #39a3f2;
}
